.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: lightblue;
  font-family: "Knewave", system-ui;
}

.container {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.line {
  font-size: 2em;
  opacity: 0; 
  position: relative;
  color: white;
}

.highlight-blue {
  color: #3498db;
}

.top-left {
  animation: slideInLeft 2s forwards ease-out;
}

.top-right {
  animation: slideInRight 2s forwards ease-out;
  animation-delay: 0.5s; 
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.love {
  color: magenta;
}

.animosity {
  color: maroon;
}

.bottom {
  position: absolute;
  bottom: -300px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.2rem;
}

.highlight-blue {
  color: darkblue;
}

.highlight-pink {
  color: magenta;
}

.highlight-red {
  color: maroon;
}
