.knewave-regular {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #595656;
    font-family: "Knewave", system-ui;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
}

.line {
    padding: 10px;
    margin: 20px 0;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
}